@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@import "../../node_modules/bootstrap/scss/variables";

* {
    i:hover {
        color: grey;
        cursor: pointer;
    }
}

.success {
    color: $success;
}

.pointer {
    cursor: pointer;
    i {
        display: inline-block;
        transition: all .3s;
    }
    .active {
        transform: rotate(-180deg);
    }
}

.date {
    font-size: 12px;
}

.rotated {
    transform: rotate(180deg);
}
.item-enter {
    transform: scale(0);
}
.item-enter-active {
    transform: scale(1);
    transition: all 500ms ease-in;
}
.item-exit {
    transform: scale(1) 
}
.item-exit-active {
    transform: scale(0);
    transition: all 500ms ease-in;
}